@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;800;900&family=League+Spartan:wght@400;700;800;900&display=swap');

@theme {
  --color-primary-1: #A249ED;
  --color-primary-2: #836ceb;
  --color-primary-3: #b062fd;
  --color-secondary-1: #f28541;
  --color-secondary-2: #9255CE;
  
  --font-gilroy: "Gilroy", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-spartan: "League Spartan", sans-serif;
}

@layer base {
  body {
    @apply font-gilroy text-gray-800 bg-white;
    overflow-x: hidden;
  }
}

/* Custom styles */
.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.brand-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input, select, textarea, button {
  font-size: 16px;
}

@media (max-width: 767px) {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
